body{
    padding: 5%;
    font-size: 40px;
    background-color: white;
}

.titulo-home{
    font-size:  70px;
}

input{
    width: 20px;
    height: 60px;
}

form{
    padding: 5%;
    background-color:rgb(244, 243, 243);
}